go/
/Desktop/
/Documents/
/Downloads/
/Music/
GNUStep/
/.tmux.conf
/.tmux.conf.local
/.vimrc
/.viminfo
/.xbindkeysrc
/.Xdefaults
/.xscreensaver
/.xsession
/.wmixrc
/.zshrc
.thunderbird/
.sqldeveloper/
.ssh/
.mozilla/
.ansible/
.emacs.d/
.atom/
.rbenv/
.tmux/
.mono/
.npm/
.vscode/
.dbeaver*/
.eclipse/
.cache/
.local/
/.gnupg/
.password-store/
.pki/
/.vim/
.oh-my-zsh/
.zcompdump-*
.xsession-errors
.*_history
.wmix.pid
.Xauthority
.lesshst
.viminfo
